.employee-image {
    margin: 30px auto 0 auto;
    border-radius: 50%;
    width: 197px;
    height: 197px;
    background-size: cover;
    background-position: center;
}

@media only screen and (min-width: 1024px) {
    .employee-image {
        margin: 10px;
        flex-shrink: 0;
    }
}