.about-heading {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 30px;
    color: #152D41;
}

@media only screen and (min-width: 576px) {
    .main-container {
        width: 92%
    }

    .about-heading {
        margin-left: 0;
        padding-left: 0;
        margin-bottom: 30px;
        text-align: left;
    }
}