.main-container {
    width: 92%;
    margin: 0 auto;
    padding: 15px;
}

.landing-heading {
    width: 70%;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 35px;
    line-height: 42.19px;
}

@media only screen and (min-width: 576px) {
    .main-container {
        width: 960px;
        padding: 0 30px;
    }

    .landing-heading {
        width: 577px;
    }
}