.main-container {
    width: 92%;
    margin: 0 auto;
    padding: 15px;
}

.landing-text {
    width: 70%;
    font-size: 18px;
    margin-bottom: 35px;
    font-weight: 700;
}

@media only screen and (min-width:1024px) {
    .main-container {
        width: 960px;
        padding: 0 30px;
    }

    .landing-text {
        font-size: 18px;
        z-index: 1;
        font-weight: bold;
    }
}