.offer-box {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 70%;
    height: 0;
    padding-top: 70%;
    box-sizing: border-box;
    background-color: #fff;
}

.offer-box-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.new-dot {
    position: absolute;
    top: -20px;
    left: -20px;
    width: 37.65px;
    height: 37.65px;
    background-color: #E07A64;
    border-radius: 50%;
}

@media only screen and (min-width: 1024px) {
    .offer-box {
        align-items: center;
        width: 198px;
        height: 193px;
        padding: 30px;
        border: 1px solid #ddd;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        transition: transform 0.5s ease, box-shadow 0.3s ease;
    }

    .offer-box:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    }

    .new-dot {
        top: -10px;
        left: -10px;
        width: 20px;
        height: 20px;
    }
}